In [1]:
#Think about scaling

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [3]:
# Get CSV file
zoo = pd.read_csv(os.path.join('Resources', 'zoo.csv'))
zoo

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type,class
0,Aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1,Mammal
1,Adder,0,0,1,0,0,0,1,1,1,1,1,0,0,1,0,1,3,Reptile
2,Alcatrazes Tree Frog,0,0,1,0,0,1,0,0,1,1,0,0,4,0,0,0,5,Amphibian
3,Alligator,0,0,1,0,0,1,1,1,1,1,0,0,4,1,0,1,3,Reptile
4,Amazon River Dolphin,0,0,0,1,0,1,1,1,1,1,0,1,0,1,0,0,1,Mammal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,Wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1,Mammal
208,Woolly Monkey,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,0,1,Mammal
209,Worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7,Invertebrate
210,Wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2,Bird
211,Yellowspotted River Turtle,0,0,1,0,0,1,0,0,1,1,0,0,4,0,1,0,3,Reptile

In [4]:
zoo_df=zoo.set_index('animal_name')
zoo_df

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type,class
animal_name,,,,,,,,,,,,,,,,,,
Aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1,Mammal
Adder,0,0,1,0,0,0,1,1,1,1,1,0,0,1,0,1,3,Reptile
Alcatrazes Tree Frog,0,0,1,0,0,1,0,0,1,1,0,0,4,0,0,0,5,Amphibian
Alligator,0,0,1,0,0,1,1,1,1,1,0,0,4,1,0,1,3,Reptile
Amazon River Dolphin,0,0,0,1,0,1,1,1,1,1,0,1,0,1,0,0,1,Mammal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1,Mammal
Woolly Monkey,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,0,1,Mammal
Worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7,Invertebrate
Wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2,Bird
Yellowspotted River Turtle,0,0,1,0,0,1,0,0,1,1,0,0,4,0,1,0,3,Reptile

In [ ]:
# Data Summary
zoo_df["class"].value_counts()

In [5]:
pig = np.array([[1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1]])

In [ ]:
# Data for predictions
kangaroo = np.array([[1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1]])
bald_eagle = np.array([[0,1,1,0,1,0,1,0,1,1,0,0,2,1,0,0]])
rattle_snake = np.array([[0,0,1,0,0,0,1,1,1,1,1,0,0,1,0,0,]])
goldfish = np.array([[0,0,1,0,0,1,0,0,1,0,0,1,0,1,1,0]])
mountain_chicken_frog = np.array([[0,0,1,0,0,1,1,0,1,1,0,0,4,0,0,0]])
vampire_moth = np.array([[0,0,1,0,1,0,1,0,0,1,0,0,6,0,0,0]])
coral = np.array([[0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0]])
sea_turtle = np.array([[0,0,1,0,0,1,1,0,1,0,0,1,4,1,0,1]])

In [6]:
# Assign X and y
X = zoo_df.drop(["class_type","class"], axis=1)
y = zoo_df["class_type"]
print (X.shape, y.shape)

(212, 16) (212,)

In [7]:
# Split data into training and testing sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Logistic Regression

In [8]:
from sklearn.linear_model import LogisticRegression

classifier = LogisticRegression(max_iter=500)
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=500)

In [9]:
print(f"Training score: {classifier.score(X_train, y_train)}")
print(f"Testing score: {classifier.score(X_test, y_test)}")

Training score: 0.9748427672955975
Testing score: 0.9245283018867925

In [10]:
print(f"Pig: {classifier.predict(pig)}")

Pig: [1]

In [ ]:
print(f"Predictions")
print(f"Kangaroo: {classifier.predict(kangaroo)}")
print(f"Bald Eagle: {classifier.predict(bald_eagle)}")
print(f"Rattle Snake: {classifier.predict(rattle_snake)}")
print(f"Goldfish: {classifier.predict(goldfish)}")
print(f"Mountain Chicken Frog: {classifier.predict(mountain_chicken_frog)}")
print(f"Vampire Moth: {classifier.predict(vampire_moth)}")
print(f"Coral: {classifier.predict(coral)}")
print(f"Sea Turtle: {classifier.predict(sea_turtle)}")

In [ ]:
predictions_logreg = classifier.predict(X_test)
class_predictions_table = pd.DataFrame({"Prediction": predictions_logreg, "Actual": y_test})
class_predictions_table.head()

In [ ]:
importances_logreg = classifier.coef_
importances_logreg

#### Other Things?
- Grid Search - Parameter adjustments
- Classification report

### Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100)
rf = rf.fit(X_train, y_train)
rf.score(X_train, y_train)

In [ ]:
print(f"Training score: {rf.score(X_train, y_train)}")
print(f"Testing score: {rf.score(X_test, y_test)}")

In [ ]:
print(f"Predictions")
print(f"Kangaroo: {rf.predict(kangaroo)}")
print(f"Bald Eagle: {rf.predict(bald_eagle)}")
print(f"Rattle Snake: {rf.predict(rattle_snake)}")
print(f"Goldfish: {rf.predict(goldfish)}")
print(f"Mountain Chicken Frog: {rf.predict(mountain_chicken_frog)}")
print(f"Vampire Moth: {rf.predict(vampire_moth)}")
print(f"Coral: {rf.predict(coral)}")
print(f"Sea Turtle: {rf.predict(sea_turtle)}")

In [ ]:
predictions_rf = rf.predict(X_test)
rf_predictions_table = pd.DataFrame({"Prediction": predictions_rf, "Actual": y_test})
rf_predictions_table.head()

In [ ]:
importances_rf = rf.feature_importances_
importances_rf

#### Other Things?
- Grid Search - Parameter adjustments
- Classification report

### K Nearest Neighbor

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

train_scores = []
test_scores = []
for k in range(1, 20, 2):
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train, y_train)
    train_score = knn.score(X_train, y_train)
    test_score = knn.score(X_test, y_test)
    train_scores.append(train_score)
    test_scores.append(test_score)
    print(f"k: {k}, Train/Test Score: {train_score:.3f}/{test_score:.3f}")

In [ ]:
plt.plot(range(1, 20, 2), train_scores, marker='o')
plt.plot(range(1, 20, 2), test_scores, marker="x")
plt.xlabel("k neighbors")
plt.ylabel("Testing accuracy Score")
plt.show()

In [ ]:
knn = KNeighborsClassifier(n_neighbors=11)
knn.fit(X_train, y_train)
print('k=11 Train Acc: %.3f' % knn.score(X_train, y_train))
print('k=11 Test Acc: %.3f' % knn.score(X_test, y_test))

In [ ]:
print(f"Predictions")
print(f"Kangaroo: {knn.predict(kangaroo)}")
print(f"Bald Eagle: {knn.predict(bald_eagle)}")
print(f"Rattle Snake: {knn.predict(rattle_snake)}")
print(f"Goldfish: {knn.predict(goldfish)}")
print(f"Mountain Chicken Frog: {knn.predict(mountain_chicken_frog)}")
print(f"Vampire Moth: {knn.predict(vampire_moth)}")
print(f"Coral: {knn.predict(coral)}")
print(f"Sea Turtle: {knn.predict(sea_turtle)}")

In [ ]:
predictions_knn = knn.predict(X_test)
knn_predictions_table = pd.DataFrame({"Prediction": predictions_knn, "Actual": y_test})
knn_predictions_table.head()

In [ ]:
# Classification Report
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions_knn))

#### Other Things?
- Grid Search - Parameter adjustments
- Importances

### Support Vector Machine

In [ ]:
from sklearn.svm import SVC
svm_model = SVC(kernel='linear')
svm_model.fit(X_train, y_train)

print('Train Acc: %.3f' % svm_model.score(X_train, y_train))
print('Test Acc: %.3f' % svm_model.score(X_test, y_test))

In [ ]:
predictions_svm = svm_model.predict(X_test)
print(classification_report(y_test, predictions_svm,
                            target_names=["1","2","3","4","5","6","7"]))

In [ ]:
#Train the parameters? Do we want to do this?
from sklearn.model_selection import GridSearchCV
param_grid = {'C': [1, 5, 10, 50],
              'gamma': [0.0001, 0.0005, 0.001, 0.005]}
grid_svm = GridSearchCV(svm_model, param_grid, verbose=3)

grid_svm.fit(X_train, y_train)

In [ ]:
print(grid_svm.best_params_)
print(grid_svm.best_score_)

In [ ]:
print(f"Predictions")
print(f"Kangaroo: {grid_svm.predict(kangaroo)}")
print(f"Bald Eagle: {grid_svm.predict(bald_eagle)}")
print(f"Rattle Snake: {grid_svm.predict(rattle_snake)}")
print(f"Goldfish: {grid_svm.predict(goldfish)}")
print(f"Mountain Chicken Frog: {grid_svm.predict(mountain_chicken_frog)}")
print(f"Vampire Moth: {grid_svm.predict(vampire_moth)}")
print(f"Coral: {grid_svm.predict(coral)}")
print(f"Sea Turtle: {grid_svm.predict(sea_turtle)}")

In [ ]:
svm_predictions_table = pd.DataFrame({"Prediction": predictions_svm, "Actual": y_test})
svm_predictions_table.head()

#### Other Things?
- Importances